.position-wrapper {
  border: .25rem dashed #ccc;
  margin-bottom: 2rem;
  position: relative;
}

.position-wrapper .box,
.box-1,
.box-2,
.box-3,
.box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00673e;
  border: .2rem solid #00673e;
  padding: 2rem;
  background-color: #befee4;
  text-transform: uppercase;
  border-radius: .5rem;
}

.box-1 {
  /* position: relative; */
  position: sticky;
  top: 2rem;
  /* left: 2rem; */
}

.box-2 {
  border-color: #67003e;
  background-color: #febee4;

  position: absolute;
  top: 2rem;
  left: 2rem;
}

.box-3 {
  border-color: #673e00;
  background-color: #fee4be;

  position: fixed;
  top: 2rem;
  right: 2rem;
}

.box-4 {
  border-color: #3e6700;
  background-color: #e4febe;
}

/* ---------- Centering ---------- */

.centering {
  min-height: 30rem;
  position: relative;
}


.centering .box {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}